<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evaluate News</title>
</head>

<body>

    <header>
        <div id="title">
            <h1>Evaluate News</h1>
            <span>Positive? Negative? Objective? Subjective? You should not wait to determine that anymore!</span>
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="input-url" type="text" name="input" value="" placeholder="https://example.com" required
                    oninput="Client.validateInput(event)">
                <span id="invalid-input-value"></span>
                <input id="submit-button" type="submit" name="submit-button" value="Submit">
            </form>
        </section>

        <section id="result">
            <h2>Results</h2>
            <div id="results"></div>
        </section>
    </main>

    <footer>
        <p>Evalulate News - Created by Bence László</p>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
            })
        }
    </script>

</body>

</html>