footer {
    width: 100%;
    min-height: 15rem;
    background-color: #a7ffeb;
    color: white;
    text-align: center;

    p {
        height: 5rem;
        line-height: 5rem;
        margin-top: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 1.15rem;
        background-color: #75ccb9;
    }
}
