form {
    width: 60vw;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 5%;
    border: 3px dashed #dbffff;
    text-align: center;
}

input {
    width: 100%;
    margin-bottom: 2rem;
    border: 1px solid #dbffff;
    text-align: center;
}

#invalid-input-value {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: red;
}

#submit-button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px dashed #75ccb9;

    &:hover {
        border: 1px solid #a7ffeb;
        background-color: mix(#a7ffeb, white, 30);
    }
}
